<div class="container mt-4">
  <h2>Sample Form</h2>
  <form class="mt-4" (ngSubmit)="onFormSubmitted(formResult)" #formResult="ngForm">

    <div class="row">

      <div class="col-sm-6">
        <div
          [ngClass]="{'form-group': true, 'was-validated': firstName.invalid && (firstName.dirty || firstName.touched)}">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" name="firstName" ngModel pattern="[a-zA-Z]+"
            minlength="2" maxlength="30" required #firstName="ngModel">
          <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
            <span *ngIf="firstName.errors.required" class="text-danger">
              First Name is required.
            </span>
            <span *ngIf="firstName.errors.minlength || firstName.errors.maxlength" class="text-danger">
              First Name must be at least 2 characters long and at most 30 characters long.
            </span>
            <span *ngIf="firstName.errors.pattern" class="text-danger">
              First Name must contain only letters.
            </span>
          </div>
        </div>

        <div
          [ngClass]="{'form-group': true, 'was-validated': lastName.invalid && (lastName.dirty || lastName.touched)}">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" name="lastName" ngModel required #lastName="ngModel">
          <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
            <span *ngIf="lastName.errors.required" class="text-danger">
              Last Name is required.
            </span>
          </div>
        </div>

        <div [ngClass]="{'form-group': true, 'was-validated': email.invalid && (email.dirty || email.touched)}">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" ngModel email required #email="ngModel">
          <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <span *ngIf="email.errors.required" class="text-danger">
              Email is required.
            </span>
            <span *ngIf="email.errors.email" class="text-danger">
              Email is invalid.
            </span>
          </div>
        </div>

        <div
          [ngClass]="{'form-group': true, 'was-validated': birthDate.invalid && (birthDate.dirty || birthDate.touched)}">
          <label for="birthDate">Date of Birth</label>
          <input type="date" class="form-control" id="birthDate" name="birthDate" ngModel date required
            #birthDate="ngModel">
          <div *ngIf="birthDate.invalid && (birthDate.dirty || birthDate.touched)">
            <span *ngIf="birthDate.errors.required" class="text-danger">
              Date of Birth is required.
            </span>
          </div>
        </div>

      </div>

      <div class="col-sm-6">

        <div [ngClass]="{'form-group': true, 'was-validated': attachment.invalid && attachment.touched}">
          <label for="attachment">Attachment</label>
          <input type="file" class="form-control" id="attachment" name="attachment" ngModel #attachment="ngModel"
            required>
          <div *ngIf="attachment.invalid && attachment.touched">
            <span *ngIf="attachment.errors.required" class="text-danger">
              Attachment is required.
            </span>
          </div>
        </div>

        <div [ngClass]="{'form-group': true, 'was-validated': country.invalid && (country.dirty || country.touched)}">
          <label for="country">Country</label>
          <select class="form-control" id="country" (change)="onCountrySelected($event.target.value)" name="country"
            ngModel #country="ngModel" required>
            <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
          </select>
          <div *ngIf="country.invalid && (country.dirty || country.touched)">
            <span *ngIf="country.errors.required" class="text-danger">
              Country is required.
            </span>
          </div>
        </div>

        <div *ngIf="selectedCities != null && selectedCities.length > 0"
          [ngClass]="{'form-group': true, 'was-validated': city.invalid && (city.dirty || city.touched)}">
          <label for="city">City</label>
          <select class="form-control" id="city" name="city" ngModel #city="ngModel" required>
            <option *ngFor="let city of selectedCities" [value]="city.id">{{city.name}}</option>
          </select>
          <div *ngIf="city.invalid && (city.dirty || city.touched)">
            <span *ngIf="city.errors.required" class="text-danger">
              City is required.
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="comment">Comment</label>
          <textarea rows=4 cols=50 class="form-control" id="comment" name="comment" ngModel></textarea>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="mx-auto">
        <button type="submit" class="btn btn-success" [disabled]="formResult.invalid">Submit</button>
      </div>
    </div>
  </form>

</div>